body {
    background-color: #b7e0b6;
}

.white-keys kbd {
    background-color: white;
    border: solid darkgrey;
    display: inline-block;
    height: 5em;
    margin-left: -0.5em;
    padding-top: 10em;
    text-align: center;
    width: 5em;
}

.black-keys kbd {
    background-color: black;
    color: white;
    display: inline-block;
    height: 5em;
    padding-top: 5em;
    position: relative;
    text-align: center;
    bottom: 15.2em;
    width: 3em;
}

#w {
    left: 3.2em;
}

#e {
    left: 5.2em;
}

#t {
    left: 12.2em;
}

#y {
    left: 14.1em
}

#u {
    left: 16em;
}


.container {
    margin: 20% auto;
    width: 29.2em;
}