body {
    background-color: #b7e0b6;
}

kbd {
    background-color: white;
    border: solid darkgrey;
    display: inline-block;
    height: 5em;
    margin-left: -0.5em;
    padding-top: 10em;
    text-align: center;
    width: 5em;
}

.container {
    margin: 20% auto;
    width: 35em;
}